.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

  .centro {
    margin: 0 auto;
    width: 200px;
    perspective: 1000px;
  }
  .btn {
    cursor: hand;
    text-transform: uppercase;
    background-color: red;
    color: white;
    font-weight: 900;
    border: none;
    padding: 1em 3em;
    margin: 2em auto;
    display: block;  
  /*  transition: background .5s ease-in, transform .5s .25s ease-in-out;*/
    transition: background .6s ease-in, transform .5s .25s ease-in-out;
  }
  .btn:hover {
    background-color: green;
  /*  transform: scale(1.2);*/
    transform: scale(1.2) rotateX(30deg);
  }
    
.App-header {
  background-color: #000000;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: black;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
